<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="selected-pixel">&nbsp</h1>
    <div class="image-container">
      <img id="hidden-image" src="/images/output.png">
      <canvas style="display: none;" id="hidden-image-canvas" width="400" height="400">
      </canvas>
    </div>
  <script>
    window.hostname = '<%= hostname %>';
  </script>
  <script src="/javascripts/socket.io.js"></script>
  <script src="/javascripts/client.js"></script>
  </body>
</html>
