body {
  padding:50px;
  font:14px "Lucida Grande",Helvetica,Arial,sans-serif;
  background: url('/images/trees.gif');
  background-size: 100%;
  text-align: center;
}

a {
  color:#00B7FF
}

h1 {
  color: #fff;
}

.image-container {
  width: 640px;
  height: 480px;
  border: 1px solid #fff;
  margin: 0 auto;
}

#hidden-image-canvas {
  display: none;
}

